<section>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col">UserId</th>
                    <th class="text-center" scope="col">Username</th>
                    <th class="text-center" scope="col">Email</th>
                    <th class="text-center" scope="col">DOP_ID</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td class="text-center"><a href="/admin/viewAccounts/{{this._id}}">{{this._id}}</a></td>
                    <td class="text-center">{{this.username}}</td>
                    <td class="text-center">{{this.UserInfo.Email}}</td>
                    <td class="text-center">{{this.UserInfo.DOP_ID}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<style>
    .table {
        margin-top: 50px;
    }
</style>